*{
    font-family: 'Michroma', sans-serif;
}
form{
    display: flex;
    justify-content:center;
    gap: 10px;
}


.playerButton{
    display: flex;
    justify-content: space-around;
    width:250px;
    height: 50px;
    border-radius: 20px;
    border: solid 1px;
}
img{
    width:20px;
}
.song{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    border: solid 1px;
    padding: 20px;
    width:50%;
    height: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.basket, .download, .play{
    background-color: white;
    border:0;
}
img, button, .file{
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content:center;
    gap:20px;
}
.addToPlaylist{
    border-radius: 20px;
    border: solid 1px;
    width: 20vw;
    min-width: 150px;
    height: 3vw;
    min-height: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.addToPlaylist:hover, .song:hover, .playerButton:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
}
.musicPlay{
    background-color: #D3D3D3;
    .basket{background-color: #D3D3D3;}
    .download{background-color: #D3D3D3;}
}
section{
    display: flex;
    align-items: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
   
  
  }
progress[value]::-webkit-progress-bar{
    background-color: #D3D3D3;
    width: 250px;
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background-color:#A9A9A9;
    border-radius: inherit;
  /*border-top-left-radius: 50%;
    border-start-start-radius: 50%;
    border-bottom-left-radius: 50%; */
    width: 100%;
    height: 100%;
}
progress{
    width:250px;
    
}